<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <%- include('../../pageStruct/imports'); -%>
</head>

<body>
    <%- include('../../pageStruct/navbar'); -%>

    <div class="container">
        <div class="row">
            <h1><%= title %></h1>
        </div>

        <div class="row mb-2">
            <a href="/admin/projects/create" class="btn btn-success">Novo Projeto</a>
        </div>

        <div class="row">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nome</th>
                    </tr>
                </thead>
                <tbody>
                    <% projects.forEach(function (project) { %>
                    <tr>
                        <td><%= project.id %></td>
                        <td><%= project.name %></td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>

</body>

</html>